<div class="panel panel-default">
  <div class="panel-heading">Ingresar Emisor</div>
  <div class="panel-body">
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul id="inter-nav" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#base" aria-controls="home" role="tab" data-toggle="tab">Base</a>
        </li>
        <li role="presentation" class="hidden">
          <a href="#graphs" aria-controls="graphs" role="tab" data-toggle="tab">Graficas</a>
        </li>
        <li role="presentation" class="hidden">
          <a href="#board-directors" aria-controls="board-directors" role="tab" data-toggle="tab">Junta Directiva</a>
        </li>
        <li role="presentation" class="hidden">
          <a href="#strengths" aria-controls="strengths" role="tab" data-toggle="tab">Fortalezas</a>
        </li>
        <li role="presentation" class="hidden">
          <a href="#executives" aria-controls="executives" role="tab" data-toggle="tab">Ejecutivos</a>
        </li>
        <li role="presentation" class="hidden">
          <a href="#investor-relations" aria-controls="investor-relations" role="tab" data-toggle="tab">Contactos de relación con inversionistas</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="base" >
          <br>
          <div class="transmitter-container"> </div> 
          <a href="#" class="btn btn-primary pull-right" onclick="nextTab(1)">Siguiente</a>
        </div>

        <div role="tabpanel" class="tab-pane" id="graphs">
          <br>
          <div class="transmitter-graphs_container"> </div> 
          <a href="#" class="btn btn-primary pull-right" onclick="nextTab(2)">Siguiente</a>
        </div>

        <div role="tabpanel" class="tab-pane" id="board-directors">
          <br>
          <div class="board-director-container"> </div> 
          <a href="#" class="btn btn-primary pull-right" onclick="nextTab(3)">Siguiente</a>
        </div>

        <div role="tabpanel" class="tab-pane" id="strengths">
          <br>
          <div class="strength-container"></div>
          <a href="#" class="btn btn-primary pull-right" onclick="nextTab(4)">Siguiente</a>
        </div>

        <div role="tabpanel" class="tab-pane" id="executives">
          <br>
          <div class="executive-container"></div>
          <a href="#" class="btn btn-primary pull-right" onclick="nextTab(5)">Siguiente</a>
        </div>
        <div role="tabpanel" class="tab-pane" id="investor-relations">
          <br>
          <div class="investor-relation-container"></div>
          
        </div>
      </div>

    </div>
    
  </div>
</div>