<div class="panel panel-default">
  <div class="panel-heading">Lista de Emisores</div>
  <div class="panel-body"> 
    <div class="transmitters-list-filters row" style="margin-bottom: 30px"> </div>

    <table class="table transmitters-list">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Sector</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody> </tbody>
    </table>
  </div>
</div>