<form action="#" class="row">
  <div class="form-group col-lg-6">
    <label for="">Nombre completo</label>
    <input type="text" name="name" class="form-control" value="{{ name }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Email</label>
    <input type="text" name="email" class="form-control" value="{{ email }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Teléfono</label>
    <input type="text" name="phone" class="form-control" value="{{ phone }}">
  </div>

</form>