<form action="" class="board-director-form row">
  <div class="form-group col-lg-6">
    <label for="">Nombre completo</label>
    <input type="text" name="name" class="form-control" value="{{ name }}">
  </div>

  <div class="form-group col-lg-12">
    <input type="hidden" name="independent_member" value="0">
    <input type="checkbox" name="independent_member" value="1" class="form-checkbox" {{#if independent_member}} checked="checked" {{/if}} />
    <label for=""> Miembro independiente </label>
  </div>

  <div class="form-group col-lg-12">
    <input type="hidden" name="alternate_member" value="0">
    <input type="checkbox" name="alternate_member" value="1" class="form-checkbox" {{#if alternate_member}} checked="checked" {{/if}} />
    <label for="">Miembro suplente</label>
  </div>
</form>