<form action="#" id="transmitter-form-create">

  <div class="form-group col-lg-6">
    <label for="">Razon social</label>
    <input type="text" name="name" class="form-control" placeholder="" value="{{ name }}">
  </div>

    <div class="form-group col-lg-6">
    <label for="">Sector</label>
    <select name="sector" id="" class="form-control">
    {{#if sector}}
      <option value="{{ sector }}">{{ sector }}</option>
      {{else}}
      <option value="">Seleccionar sector</option>
    {{/if}}
      <option value="Financiero">Financiero</option>
    </select>
  </div>

  <div class="form-group col-lg-6">
    <label for="">Año de incorporación</label>
    <input type="text" name="year_of_incoporation" class="form-control" placeholder="" value="{{ year_of_incoporation }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Ciudad</label>
    <select name="city" id="" class="form-control">
      {{#if city}}
        <option value="{{ city }}">{{ city }}</option>
      {{else}}
        <option value="">Seleccionar Ciudad</option>
      {{/if}}
      <option value="Barranquilla">Barranquilla</option>
      <option value="Bogotá">Bogotá</option>
      <option value="Bucaramanga">Bucaramanga</option>
      <option value="Cali">Cali</option>
      <option value="Medellín">Medellín</option>
      
    </select>
  </div>

  <div class="form-group col-lg-6">
    <label for="">Numero de empleados</label>
    <input type="text" name="employees" class="form-control" placeholder="" value="{{ employees }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Pagina web</label>
    <input type="text" name="web_page" class="form-control" placeholder="" value="{{ web_page }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Descripción español</label>
    <textarea name="description_es" class="form-control" id="" cols="5" rows="3">{{ description_es }}</textarea>
  </div>

  <div class="form-group col-lg-6">
    <label for="">Descripción ingles</label>
    <textarea name="description_en" class="form-control" id="" cols="5" rows="3">{{ description_en }}</textarea>
  </div>

  <div class="form-group col-lg-6">
    <label for="">Capitalizacón bursátil</label>
    <input type="text" name="market_capitalization" class="form-control" placeholder="" value="{{ market_capitalization }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Capitalizacón bursátil Fecha de cierre</label>
    <input type="text" name="market_capitalization_closure_date" class="form-control" placeholder="" value="{{ market_capitalization_closure_date }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Número de accionistas</label>
    <input type="text" name="number_of_shareholders" class="form-control" placeholder="" value="{{ number_of_shareholders }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Total acciones en circulación</label>
    <input type="text" name="number_of_shareholders" class="form-control" placeholder="" value="{{ number_of_shareholders }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Flotante</label>
    <input type="text" name="free_float" class="form-control" placeholder="" value="{{ free_float }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Dividendo</label>
    <input type="text" name="dividend" class="form-control" placeholder="" value="{{ dividend }}">
  </div>

  <div class="form-group col-lg-6">
    <label for="">Utilidad por acción</label>
    <input type="text" name="earnings_per_share" class="form-control" placeholder="" value="{{ earnings_per_share }}">
  </div>

  <div class="form-group col-lg-12">
    <label for="note">Especificaciones</label>
    <textarea name="note" id="" rows="3" class="form-control">{{ note }}</textarea>
  </div>

  <div class="form-group col-lg-6">
    <label for="">Política de sostenibilidad Español</label>
    <textarea name="responsability_policy_es" class="form-control" id="" cols="5" rows="3">{{ responsability_policy_es }}</textarea>
  </div>

  <div class="form-group col-lg-6">
    <label for="">Política de sostenibilidad Ingles</label>
    <textarea name="responsability_policy_en" class="form-control" id="" cols="5" rows="3">{{ responsability_policy_en }}</textarea>
  </div>

 <div class="form-group col-lg-12">
    <input type="hidden" name="badge" value="0">
    
    <input type="checkbox" class="form-checkbox" name="badge" value="1" {{#if badge}} checked="checked" {{/if}} />

    <label for="">Emisor BVC comprometido</label>
  </div>

  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#share1" aria-controls="home" role="tab" data-toggle="tab">Acción 1</a></li>
      <li role="presentation"><a href="#share2" aria-controls="share2" role="tab" data-toggle="tab">Acción 2</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="share1">
        <br>
        <div class="form-group col-lg-6">
          <label for="">Nemotécnico</label>
          <input type="text" name="ticker_1" class="form-control" placeholder="" value="{{ ticker_1 }}">
        </div>

        <div class="form-group col-lg-6">
          <label for="">Tipo de acciones</label>

          <select name="type_of_stock_1" class="form-control" id="">
            {{#if type_of_stock_1}}
              <option value="{{ type_of_stock_1 }}">{{ type_of_stock_1 }}</option>
            {{else}}
              <option value="">Seleccionar tipo de acciones</option>
            {{/if}}
           
            <option value="Preferenciales">Preferenciales</option>
            <option value="Ordinarias">Ordinarias</option>
          </select>
        </div>

        <div class="form-group col-lg-6">
          <label for="">ISIN</label>
          <input type="text" name="isin_1" class="form-control" placeholder="" value="{{ isin_1 }}">
        </div>

        <div class="form-group col-lg-6">
          <label for="">Tipo de instrumento</label>
          <select name="instrument_type_1" class="form-control">
          {{#if instrument_type_1}}
              <option value="{{ instrument_type_1 }}">{{ instrument_type_1 }}</option>
            {{else}}
              <option value="">Seleccionar Tipo de instrumento</option>
            {{/if}}
            
            <option value="Líquido">Líquido</option>
            <option value="No Líquido">No Líquido</option>
          </select>
        </div>

        <div class="form-group col-lg-6">
          <label for="">RPG</label>
          <input type="text" name="p_e_1" class="form-control" placeholder="" value="{{ p_e_1 }}">
        </div>

        <div class="form-group col-lg-6">
          <label for="">Precio/Libros</label>
          <select name="price_book_1" class="form-control" id="">
          {{#if price_book_1}}
            <option value="{{ price_book_1 }}">{{ price_book_1 }}</option>
          {{else}}
            <option value="">Seleccionar Precio/Libros</option>
          {{/if}}
            
            <option value="Ordinarias">Ordinarias</option>
            <option value="Preferenciales">Preferenciales</option>
          </select>
        </div>

        <div class="form-group col-lg-6">
          <label for="">Dividend Yield</label>
          <input type="text" name="dividend_yield_1" class="form-control" placeholder="" value="{{ dividend_yield_1 }}">
        </div>

        <div class="form-group col-lg-6">
          <label for="">Acciones en circulación</label>
          <input type="text" name="shares_outstanding_1" class="form-control" placeholder="" value="{{ shares_outstanding_1 }}">
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="share2">
        <br>
        <div class="form-group col-lg-6">
          <label for="">Nemotécnico</label>
          <input type="text" name="ticker_2" class="form-control" placeholder="" value="{{ ticker_2 }}">
        </div>

        <div class="form-group col-lg-6">
          <label for="">Tipo de acciones</label>
          {{#if type_of_stock_2}}
              <option value="{{ type_of_stock_2 }}">{{ type_of_stock_2 }}</option>
            {{else}}
              <option value="">Seleccionar tipo de acciones</option>
            {{/if}}
          <select name="type_of_stock_2" class="form-control" id="">
            <option value="">Seleccionar tipo de acciones</option>
            <option value="Preferenciales">Preferenciales</option>
            <option value="Ordinarias">Ordinarias</option>
          </select>
        </div>

        <div class="form-group col-lg-6">
          <label for="">ISIN</label>
          <input type="text" name="isin_2" class="form-control" placeholder="" value="{{ isin_2 }}">
        </div>

        <div class="form-group col-lg-6">
          <label for="">Tipo de instrumento</label>
          <select name="instrument_type_2" class="form-control">
            {{#if instrument_type_2}}
              <option value="{{ instrument_type_2 }}">{{ instrument_type_2 }}</option>
            {{else}}
              <option value="">Seleccionar Tipo de instrumento</option>
            {{/if}}
            <option value="Líquido">Líquido</option>
            <option value="No Líquido">No Líquido</option>
          </select>
        </div>

        <div class="form-group col-lg-6">
          <label for="">RPG</label>
          <input type="text" name="p_e_2" class="form-control" placeholder="" value="{{ p_e_2 }}">
        </div>

        <div class="form-group col-lg-6">
          <label for="">Precio/Libros</label>
          <select name="price_book_2" class="form-control" id="">
            {{#if price_book_2}}
            <option value="{{ price_book_2 }}">{{ price_book_2 }}</option>
          {{else}}
            <option value="">Seleccionar Precio/Libros</option>
          {{/if}}
            <option value="Ordinarias">Ordinarias</option>
            <option value="Preferenciales">Preferenciales</option>
          </select>
        </div>

        <div class="form-group col-lg-6">
          <label for="">Dividend Yield</label>
          <input type="text" name="dividend_yield_2" class="form-control" placeholder="" value="{{ dividend_yield_2 }}">
        </div>

        <div class="form-group col-lg-6">
          <label for="">Acciones en circulación</label>
          <input type="text" name="shares_outstanding_2" class="form-control" placeholder="" value="{{ shares_outstanding_2 }}">
        </div>
      </div>
    </div>
  </div>

</form>