<form action="#" id="transmitter-graphs-form" enctype="multipart/form-data">

  <div class="form-group col-lg-6">
    <label for="">Cifras financieras</label>
    <input type="file" name="financial_figures_graph" class="form-control file">
    <br>
    
    <div class="img-container">
      {{#if financial_figures_graph}}
      <img src="/uploads/{{ financial_figures_graph }}" class="img-responsive">
      {{/if}}
    </div>
  </div>
  
  <div class="form-group col-lg-6">
    <label for="">Principales Accionistas</label>
    <input type="file" name="main_shareholders_graph" class="form-control file">
    <br>
    <div class="img-container">
      {{#if main_shareholders_graph}}
        <img src="/uploads/{{ main_shareholders_graph }}" class="img-responsive">
      {{/if}}
    </div>
  </div>
  
  <div class="form-group col-lg-6">
    <label for="">Desempeño de la acción</label>
    <input type="file" name="stock_performance_graph" class="form-control file">
    <br>
    <div class="img-container">
      {{#if stock_performance_graph}}
        <img src="/uploads/{{ stock_performance_graph }}" class="img-responsive">
      {{/if}}
    </div>
  </div>
  
  <div class="form-group col-lg-6">
    <label for="">Segmentación de ingresos</label>
    <input type="file" name="revenue_segmentation_graph" class="form-control file">
    <br>
    <div class="img-container">
      {{#if revenue_segmentation_graph}}
        <img src="/uploads/{{ revenue_segmentation_graph }}" class="img-responsive">
      {{/if}}
    </div>
  </div>

</form>