<div class="col-lg-4">
  <input type="text" class="form-control query" placeholder="Buscar">
</div>

<div class="col-lg-4">
  <select name="" id="" class="form-control sector">
    <option value="">Seleccionar Sector</option>
    <option value="Financiero">Financiero</option>
  </select>
</div>
