<form action="#" class="strength-form">
  <div class="form-group col-lg-6">
    <label for="">Descripción Español</label>
    <textarea  name="description_es" cols="30" rows="3" class="form-control">{{ description_es }}</textarea>
  </div>
  <div class="form-group col-lg-6">
    <label for="">Descripción Ingles</label>
    <textarea name="description_en" cols="30" rows="3" class="form-control">{{ description_en }}</textarea>
  </div>
</form>