<form action="#">
  <div class="form-group col-lg-6">
    <label for="">Nombre completo</label>
    <input type="text" name="name" class="form-control" value="{{ name }}">
  </div>
  <div class="form-group col-lg-6">
    <label for="">Cargo</label>
    <input type="text" name="position_title" class="form-control" value="{{ position_title }}">
  </div>
</form>